# Core

## Timezone
pytz
types-pytz # Linter Fix

## Network
requests
types-requests

## Event-driven programming library
blinker

# Strategy

## Data Analysis
pandas

# MarketAccess

## Coinbase
coinbase-advanced-py
cryptography
PyJWT

## Kraken
python-kraken-sdk

## Needed by exchanges who use websockets to disseminate market data
websockets

# These requirements are for data analysis only, may or may not for production
jupyter
plotly
mplfinance
###
