# Core

## Timezone
pytz
types-pytz # Linter Fix

## Event-driven programming library
blinker

# Strategy

## Analysis
pandas

# MarketData

## Needed by exchanges who use websockets to disseminate market data
websockets