# Core
flatdict

## Timezone
pytz
types-pytz # Linter Fix

## Network
requests
types-requests

## Event-driven programming library
blinker

# Strategy

## Data Analysis
pandas

# MarketAccess

## Coinbase
coinbase-advanced-py

## Kraken

## Needed by exchanges who use websockets to disseminate market data
websockets

# These requirements are for data analysis only, may or may not for production
jupyter
plotly
seaborn
scikit-learn
joblib
kaleido
###
